* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body,
#app {
    font-size: 16px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.el-tree-node>.el-tree-node__children {
    overflow: visible !important;
}

.el-tree-node>.el-collapse-transition-leave-active {
    overflow: hidden !important;
}

.el-tree-node>.el-collapse-transition-enter-active {
    overflow: hidden !important;
}
.currentHeightLight{
    font-weight:900;
}
